body {
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  body header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 153px; }
  body main {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    body main .main_title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 64px; }
      body main .main_title div {
        font-family: "Segoe UI";
        color: #184a6f;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center; }
        body main .main_title div:first-child {
          letter-spacing: 2px;
          font-size: 50px;
          margin-bottom: -20px;
          word-spacing: 1px; }
        body main .main_title div:last-child {
          font-size: 60px;
          letter-spacing: 2.4px;
          word-spacing: -4.4px; }
        body main .main_title div .main_title--price {
          color: red;
          font-size: 80px;
          letter-spacing: 4px;
          word-spacing: -4px; }
    body main .section_options-catalog {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap; }
      body main .section_options-catalog div {
        height: 350px;
        width: 300px; }
        body main .section_options-catalog div .section_options-catalog--img-main {
          border-radius: 50%;
          border: 10px solid white; }
        body main .section_options-catalog div .section_options-catalog--img-aside {
          position: relative;
          top: -158px;
          left: 172px; }
        body main .section_options-catalog div .section_options-catalog--title {
          color: white;
          font-family: "Segoe UI";
          font-weight: bold;
          text-transform: uppercase;
          font-size: 38px;
          text-align: center;
          position: relative;
          top: -156px;
          word-wrap: normal; }
