//body
$bodyBgImage:url('../images/bg.jpg');

//main
$mainTitleFontFamily:"Segoe UI";
$mainTitleTextColor:rgb(24, 74, 111);
$mainTitlePriceTextColor:red;

//section button
$sectionButtonBorderBgColor: rgb(255, 163, 88);
$sectionButtonTitleColor: rgb(189, 7, 7);
$sectionButtonTitleTextShadow: 0px 0px 0px rgba(3, 20, 21, 0.95);

//section_options
$sectionOptionsTitleTextColor:white;

body{
    background-image: $bodyBgImage;
    background-repeat: no-repeat;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        height:153px;
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .main_title{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 64px;
            div{                          
                font-family: $mainTitleFontFamily;
                color: $mainTitleTextColor;
                font-weight: bold;
                text-transform: uppercase;                
                text-align: center;
                &:first-child{
                        letter-spacing: 2px;
                        font-size: 50px;
                        margin-bottom: -20px;
                        word-spacing: 1px;
                }
                &:last-child{
                    font-size: 60px;
                    letter-spacing: 2.4px;
                    word-spacing: -4.4px;
                }
                .main_title--price{
                    color:$mainTitlePriceTextColor;
                    font-size: 80px;
                    letter-spacing: 4px;
                    word-spacing: -4px;
                }
            }            
        }
        .section_button--tree{
            background-image: url(../images/png/tree.png);
            background-repeat: no-repeat;
            background-position: center center;
            height: 227px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            top: 64px;
            left: -16px;
            .section_button--border{
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0 0 1.6px 10px rgb(148, 56, 11);
                border-radius: 2px;
                background-color:$sectionButtonBorderBgColor;
                letter-spacing: 1.2px;
                margin-left: 70px;
                height: 93px;
                margin-top: 63px;
                .section_button--title{
                  font-size: 78px;
                  font-family: $mainTitleFontFamily;;
                  color: $sectionButtonTitleColor;
                  text-transform: uppercase;
                  font-weight: bold;
                  padding-right: 41px;
                  padding-left: 41px;
                  text-shadow: $sectionButtonTitleTextShadow;
                  padding-bottom: 10px;
                }
            }            
        }        
        .section_options-catalog{
            height: 517px;
            .section_options-catalog--title{
                height:190px;
                h1{
                  font-size: 64px;
                  font-family: $mainTitleFontFamily;
                  color: $sectionOptionsTitleTextColor;
                  position: relative;
                  left: -10px;
                  text-transform: uppercase;
                  line-height: 2.015;
                  text-align: center;
                  text-shadow: -4.728px 3.694px 3.9px rgba(3, 11, 22, 0.8);
                }
            }
            .section_options-catalog--wrapper{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                div{
                    height: 91px;
                    width: 300px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    position: relative;
                    left: 15px;
                    .section_options-catalog--img-main{
                        border-radius: 50%;
                        border:10px solid white;
                        position: relative;
                        width: 238px;
                        height: 238px;
                    }
                    .section_options-catalog--img-aside{
                        position: absolute;
                        left: 143px;
                        top: 16px;
                    }
                    .section_options-catalog--title{
                        color: $sectionOptionsTitleTextColor;
                        font-family: $mainTitleFontFamily;
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 38px;
                        text-align: center;
                        white-space: pre;
                        position: relative;
                        top: 40px;
                        left: -9px;
                    }
                    .section_options-catalog--date{
                        font-size: 24px;
                        font-family: $mainTitleFontFamily;
                        color: $mainTitleTextColor;
                        font-weight: bold;
                        text-transform: uppercase;
                        text-align: center;
                        word-spacing: -5px;
                        letter-spacing: 0.5px;
                        position: relative;                    
                        left: -11px;
                        top: 77px;
                    }
                }
        
            }
        }
    }
    footer{
        .footer_invitation{
            .footer_invitation--img{
                display: block;
                margin-left: auto;
                margin-right: auto;
                position: relative;
                left: 2px;
            }
            .footer_invitation--title{
              font-size: 60px;
              font-weight: bold;
              font-family: $mainTitleFontFamily;
              color: $mainTitleTextColor;
              text-transform: uppercase;
              text-align: center;
              position: relative;
              letter-spacing: 0.3px;
              word-spacing: 11px;
              padding-top: 18px;
            }
        }
    }
}

@media (max-width: 1190px) {
    body{   
        .section_options-catalog{
            transform: scale(0.8);
        } 
    }
}

@media (max-width: 320px) {
    body{
        background-image: url(../images/bg-mobile.jpg); 
        transform: scale(0.5);
    }
}