//body
$bodyBgImage:url('../images/bg.jpg');

//main
$mainTitleFontFamily:"Segoe UI";
$mainTitleTextColor:rgb(24, 74, 111);
$mainTitlePriceTextColor:red;

//section_options
$sectionOptionsTitleTextColor:white;

body{
    background-image: $bodyBgImage;
    background-repeat: no-repeat;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        height:153px;
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .main_title{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 64px;
            div{                          
                font-family: $mainTitleFontFamily;
                color: $mainTitleTextColor;
                font-weight: bold;
                text-transform: uppercase;                
                text-align: center;
                &:first-child{
                        letter-spacing: 2px;
                        font-size: 50px;
                        margin-bottom: -20px;
                        word-spacing: 1px;
                }
                &:last-child{
                    font-size: 60px;
                    letter-spacing: 2.4px;
                    word-spacing: -4.4px;
                }
                .main_title--price{
                    color:$mainTitlePriceTextColor;
                    font-size: 80px;
                    letter-spacing: 4px;
                    word-spacing: -4px;
                }
            }            
        }
        .section_options-catalog{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            div{
                height:350px;
                width:300px;
                .section_options-catalog--img-main{
                    border-radius: 50%;
                    border:10px solid white;
                }
                .section_options-catalog--img-aside{
                    position: relative;
                    top: -158px;
                    left: 172px;
                }
                .section_options-catalog--title{
                    color: $sectionOptionsTitleTextColor;
                    font-family: $mainTitleFontFamily;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 38px;
                    text-align: center;
                    position: relative;
                    top: -156px;
                    word-wrap: normal;
                }
            }
        }
    }
}
